name: WIN11-ULTRA-SNIPER

on: 
  workflow_dispatch:

jobs:
  windows_beast:
    runs-on: windows-latest
    timeout-minutes: 720 # القوة الكاملة لـ 12 ساعة

    steps:
    - name: ربط Tailscale (جسر العبور والـ Exit Node)
      run: |
        Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -OutFile tailscale-setup.exe
        Start-Process -FilePath .\tailscale-setup.exe -ArgumentList '/quiet /norestart' -Wait
        & "C:\Program Files\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --advertise-exit-node

    - name: السيطرة على الحساب وتفعيل الـ RDP
      run: |
        # تغيير كلمة سر المسؤول الأصلي لتجنب مشاكل إنشاء حسابات جديدة
        $user = "runneradmin"
        $pass = "Sniper@2026"
        net user $user $pass
        # تفعيل الوصول البعيد
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: بروتوكول البقاء المستمر (Keep Alive)
      run: |
        for ($i=0; $i -lt 720; $i++) {
          Write-Host "المهمة مستمرة.. دقيقة رقم: $i"
          Start-Sleep -Seconds 60
        }
        
