name: WIN11-STRIKE-FORCE

on: 
  workflow_dispatch:

jobs:
  windows_beast:
    runs-on: windows-latest
    timeout-minutes: 720 

    steps:
    - name: ربط Tailscale وتفعيل الـ Exit Node
      run: |
        Invoke-WebRequest https://pkgs.tailscale.com/stable/tailscale-setup-latest.exe -OutFile tailscale-setup.exe
        Start-Process -FilePath .\tailscale-setup.exe -ArgumentList '/quiet /norestart' -Wait
        & "C:\Program Files\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --advertise-exit-node

    - name: إعداد مستخدم القناص (كلمة سر متوافقة)
      run: |
        # كلمة السر أصبحت 12 حرفاً فقط لضمان القبول
        net user sniper Sniper@2026 /add
        net localgroup "Remote Desktop Users" sniper /add
        net localgroup "Administrators" sniper /add

    - name: تفعيل الـ RDP وتجاوز القيود
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

    - name: بروتوكول البقاء لـ 12 ساعة
      run: |
        $i = 0
        while($i -lt 720) {
          Write-Host "السيرفر يعمل بكامل طاقته.. دقيقة رقم: $i"
          Start-Sleep -Seconds 60
          $i++
        }
        
